/* For dev only - replicate servicenow css */
/* html {
	box-sizing: border-box;
	font: 62.5%/normal GilroyRegular;
	position: relative;
} */

.spotlight {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(57, 56, 58, 0.99); /* #464547 */
	color: white;
	/* display: none; */
	box-shadow: rgba(19, 25, 31, 0.85) 0px 20px 30px -10px;

	width: 60%;
	height: 50%;
	border-radius: 8px;
	font-size: 2.6rem;
	font-family: 'Open Sans', sans-serif;

	/* Scroll properties */
	display: flex;
	flex-direction: column;
}

/* Optional blur background - currently blocks input interactivity */
.spotlight--background {
	/* position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%; */
    /* backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(13, 19, 29, 0.85);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125); */
}

.spotlight--search {
	margin-top: 1.3rem;
	padding-bottom: 1rem;
	margin-left: 2rem;

	width: 95%;
	margin-right: 1rem;
	font-size: 2rem;
	color: white;
	border: none;
	outline: 0;
	background: transparent;

	display: inline-block;
	white-space: nowrap
}
.focused {
	outline: none;
	box-shadow: none !important;
}
.input-wrapper {
	background: transparent;
	border: none;
	color: white;
	display: inline-block !important;
	width: inherit !important;
	font-size: 2.1rem !important;
}
.tag {
	background-color: #316664;
}
.tag:first-of-type {
	background-color: #c4400d;
}
.tag .remover {
	background-color: transparent;
	margin-top: .2rem;
	font-size: 1.6rem !important;
}
/* Tag Font */
.title {
	font-size: 1.6rem !important;
	margin-right: 0px !important;
}


.spotlight--divider {
	width: 100%;
	height: 2px;
	background-color: #6A696B;
}

.spotlight--results {
	margin-left: 2rem;

	/* Scroll properties */
	flex: 1;
	overflow-y: auto;
}
.spotlight--results::-webkit-scrollbar {
	width: 8px;
	height: 13px;
}
/* Track */
/* .spotlight--results::-webkit-scrollbar-track {
	background: rgb(34, 34, 34);
} */
/* Handle */
.spotlight--results::-webkit-scrollbar-thumb {
	background: rgb(116, 116, 116);
}
/* Handle on hover */
.spotlight--results::-webkit-scrollbar-thumb:hover {
	background: rgb(44, 44, 44);
}

.spotlight--results-title {
	margin-top: 1rem;
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: .6rem;
	color: #868587;
}

.spotlight--results-item {
	font-size: 1.6rem;
	margin-right: 2rem;
	cursor: pointer;
	border-radius: 5px;

	padding-left: 1rem;
	padding-top: .4rem;
	padding-bottom: .4rem;
}
.spotlight--results-item_selected {
	background-color: #3D7EE6;
}
/* .spotlight--results-item:hover {
	background-color: #3D7EE6;
} */

.variable-name {
	float:right;
	margin-right: 1rem;
	color: gray;
}

.spotlight--results-divider {
	width: 100%;
	height: 1px;
	margin-top: 1rem;
	background-color: #6A696B;
}

